image: bbassett/openscad

stages: 
  - build
  
create stl from scad:
  stage: build
  script:
    - openscad --help
    - pwd
    - ls -l 
    - echo bar
    - echo baz
    - echo Finny is here
    
    
