image: bbassett/openscad

stages: 
  - build
  
create stl from scad:
  stage: build
  script:
    - openscad --help
    - pwd
    - ls -l 
    - echo Finny is here
    - mkdir -pv artifacts
    - openscad -o artifacts/foo.stl inner_hook_plate-1x1.scad
  artifacts:
    paths:
      - artifacts
    
    
