image: bbassett/openscad

stages: 
  - build

cache:
  paths:
    - cache/

create stl from scad:
  stage: build
  script:
    - make --version
    - openscad --help
    - pwd
    - ls -lR
    - echo Finny is here
    - date
    - make all
    - date
    - ls -lR
    
  artifacts:
    paths:
      - artifacts
    
    

