image: bbassett/openscad

stages: 
  - build
  
    
create stl from scad:
  stage: build
  script:
    - make --version
    - openscad --help
    - pwd
    - ls -lR
    - echo Finny is here
    - date
    - make artifacts/inner_hook_plate-1x1.stl
    - make artifacts/outer_cover_plate-2x1.stl
    - make artifacts/outer_cover_plate-2x1-sharpie_holder.stl
    - date
    - ls -lR
    
  artifacts:
    paths:
      - artifacts
    
    
