image: registry.gitlab.com/michaeldallen/pegboard:2020.11

stages: 
  - build

cache:
  paths:
    - cache/

create stl from scad:

  stage: build

  only: 
    refs:
      - main
    changes:
      - "*.scad"
      - Makefile
      - .gitlab-ci.yml



  script:
    - (find * -depth -type d | while read d; do echo $d; done | while read d ; do ls -ld $d/* ; done ; ls -ld *) | column -t > /tmp/a
    - /usr/lib/git-core/git-restore-mtime
    - (find * -depth -type d | while read d; do echo $d; done | while read d ; do ls -ld $d/* ; done ; ls -ld *) | column -t > /tmp/b
    - diff --ignore-space-change --side-by-side --width=300 /tmp/a /tmp/b || true
    - echo Finny is here
    - date
    - make all
    - date
    - (find * -depth -type d | while read d; do echo $d; done | while read d ; do ls -ld $d/* ; done ; ls -ld *) | column -t

  artifacts:
    paths:
      - artifacts
    
    

