# This is a basic workflow that is manually triggered

name: openscad stl generation

on:
  push:
    branches: [ main ]
    
    

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

    compile_openscad_files:

        runs-on: ubuntu-20.04

        steps:
          - name: configure apt
            run: |
                date
                sudo apt-get update
                date

          - name: install support packages
            run: |
                date
                sudo apt-get install --assume-yes \
                    ca-certificates \
                    git \
                    make \
                    openscad
                date

          - name: install openscad
            run: |
                date
                sudo apt-get install openscad
                openscad --help
                date

          - name: checkout
            uses: actions/checkout@v2
            
          - name: check environment
            run: |
                date
                pwd
                find * -type f | sort
                date
                
    
          - name: wth
            run: |
                date
                make cache/cube.stl
                date

