# This is a basic workflow that is manually triggered

name: openscad stl generation

on:
  push:
    branches: [ main ]
    
    

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
    sanity:
    # The type of runner that the job will run on
        runs-on: ubuntu-20.04

        steps:
          - name: configure apt
            run: |
                date
                sudo apt-get update
                date

          - name: install support packages
            run: |
                date
                sudo apt-get install --assume-yes \
                    ca-certificates \
                    git \
                    make
                date

          - name: install openscad
            run: |
                date
                sudo apt-get install openscad
                date
                


