# This is a basic workflow that is manually triggered

name: openscad stl generation

on:
  push:
    branches: [ main ]
    
    

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  sanity:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - name: Send greeting
      run: echo "Hello ${{ github.event.inputs.name }}"
    - name: install openscad
      run: |
        apt-get update && apt-get install -y --no-install-recommends \
	        ca-certificates \
	        git \
	        make \
	        openscad \
        && rm -rf /var/lib/apt/lists/*
      run: mkdir -p /root/.local/share /.local/share
      

      
