# This is a basic workflow that is manually triggered

name: openscad stl generation

on:
  push:
    branches: [ main ]
    
    

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  compile_openscad_files:

    runs-on: ubuntu-20.04

    steps:
    - name: configure apt
      run: |
        date
        sudo apt-get update
        date

    - name: install support packages
      run: |
        date
        sudo apt-get install --assume-yes \
        bsdmainutils \
        ca-certificates \
        git \
        git-restore-mtime \
        make \
        openscad \
        #
        date

    - name: checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
                


    - name: Cache node modules
      uses: actions/cache@v2
      env:
        cache-name: cache-node-modules
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/cache
        key: pegboard-cache
        restore-keys: pegboard-cache

            
    - name: check environment before
      run: |
        date
        env | sort
        date
        pwd
        find * -type f | sort
        ls -lR
        date
        /usr/lib/git-core/git-restore-mtime
        find * -type f | sort
        ls -lR
        date

                
    
    - name: wth
      run: |
        date
        make cache/cube.stl
        date

    - name: check environment after
      run: |
        date
        pwd
        find * -type f | sort
        ls -lR
        date
